<div class="card p-3" style="width: 18rem;">
  <img class="card-img-top" src="{{image}}" alt="{{name}}">
  <div class=" card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text"><strong>First appearance: </strong>{{firstAppearance}}</p>
    <p class="card-text"><strong>Publisher: </strong>{{publisher}}</p>

    <a href="/heroes/details/{{idBD}}" class="btn btn-primary">View more</a>
  </div>
</div>