<div class="card p-3 btn-change">
  <a href="/heroes/details/{{idBD}}">
    <img class="card-img-top" src="{{image}}" alt="{{name}}"></a>
  <h5 class="card-title pt-2">{{name}}</h5>
  <p class="card-text">{{publisher}}</p>
</div>