<a href="/heroes">Return to list</a>
<br><br>
<div class="row">
  <div class="col-lg-5">
    <figure>
      <img class="main-img" src="{{heroes.image.url}}" alt="{{heroes.name}}">
    </figure>
    <div class="fav-btn">
      <form action="/api/heroes/details/" method="POST">
        <input type="submit" class="btn" id="favourite" name="{{heroes.id}}" value="Add to Favs">
      </form>
         
    </div>
  </div>
  <div class="col-lg-7">
    <h1>{{heroes.name}}</h1>
    <p><strong>Place of birth: </strong>{{heroes.biography.place-of-birth}}</p>
    <p><strong>Full name: </strong>{{heroes.biography.full-name}}</p>
    <p><strong>Alter egos: </strong>{{heroes.biography.alter-egos}}</p>

    <section class="canvas-size">
      <figure>
        <canvas id="q1"></canvas>
      </figure>
    </section>

  </div>
  </div>


  <section class="spotify-section">
          <div class="row">

      {{#each spotify}}
      <div class="col-md-3">

        <a href="{{album.external_urls.spotify}}"><img class="spotify-img" src="{{album.images.1.url}}"
            alt="{{name}}"></a>

        <figure>
          <audio controls src="{{preview_url}}">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
        </figure>
      </div>

      {{/each}}
    </div>

  </section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>



  const drawBarChart = (id) => {

    new Chart(id, {
      type: 'polarArea',
      data: {
        labels: ['Strength', 'Speed', 'Durability', 'Power', 'Combat'],
        datasets: [{
          data: [{{ heroes.powerstats.strength }}, {{ heroes.powerstats.speed }}, {{ heroes.powerstats.durability }}, {{ heroes.powerstats.combat }}, {{ heroes.powerstats.power }}
        ],
  borderColor: 'white',
    borderWidth: 2,
      backgroundColor: [
        'rgba(190, 60, 60, .2)',
        'rgba(60, 120, 190, .2)',
        'rgba(120, 190, 60, .2)',
        'rgba(60, 50, 50, .2)',
        'rgba(120, 60, 190, .2)']
      }]
    },
  options: {
    legend: {
      position: 'left'
    }
  }
    })
  }

  drawBarChart('q1')


</script>

